.root {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    max-width: 1235px;
    min-width: 520px;
    width: 100%;
}    
    .header{
        height: 55px;
        left: 0px;
        top: 0px;
        background: #0067A3;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .header p {
            width: 331px;
            height: 26px;
            left: 6px;
            top: 6px;
            font-size: 28px;
            line-height: 33px;
            color: #FFFFFF;
            margin:11px 0px 18px 20px; 
        }
        .header_newList{
            margin-right: 20px;
            border: 0px;
            color: #FFFFFF;
            font-size: 18px;
            line-height: 33px;
            background: #0067A3;
        }
        .header_newList:hover{
            cursor: pointer;
        }
    .main {
        background: #0079bf;
        display: flex;
        align-items: flex-start;
        padding: 20px;
        width: 100%;
        min-height: 600px;
        box-sizing: border-box;
        position: relative;
    }    
        .information{
            background: #EBECF0;
            position: absolute;
            border-radius: 10px;
            left:20px;
            right:20px;
            top:20px;
            bottom: 20px;
            font-size: 24px;
            line-height: 28px;
        }
            .information_header{
                display :flex;
                justify-content: space-between;
                align-items:flex-start;
                padding:22px 23px 35px 28px;
            }
            .information_text{
                padding-left:28px;
            }
        .main_taskList{
            display: flex;
            justify-content: space-between;
            flex-direction:column; 
            background: #EBECF0;
            border-radius: 10px;
            padding:12px;
            font-size: 18px;
            line-height: 21px;
            width:150px;
            margin-right: 10px;
        }
            .taskList_header{
                display: flex;
                justify-content:space-between;
            }
                .taskList_header_settings{
                    display: flex;
                    flex-direction: column;
                }
                    .settings_points{
                        width:50px;
                        text-align: right;
                    }
                    .settings_points:hover{
                        cursor: pointer;
                    }
                    .settings_delete_btn{
                        position:absolute;
                        background: #FFFFFF;
                        padding:7px 9px 6px 8px;
                        border:0px;
                    }
                        .settings_delete_btn:focus{
                            border:0px;
                        }
                        .settings_delete_btn:hover{
                            background: #DEDEDE;
                            cursor: pointer;
                        }    
            .task{
                background: #FFFFFF;
                border-radius: 5px;
                margin-top: 15px;
                padding:7px 9px 6px 8px;
            }
            .task:hover{
                background: #DEDEDE;
                cursor: pointer;
            }
            .task_input{
                background: #FFFFFF;
                border-radius: 5px;
                margin-top: 15px;
                padding:7px 9px 6px 8px;
            }
                .newTask_input{
                    width:93%;
                    border: 0px solid black;
                }
                .input{
                    width:93%;
                    border: 0px solid black;
                    border-bottom: 1px solid black;
                }
            .btn_submit{
                background: #0079BF;
                border-radius: 5px;
                color: #FFFFFF;
                font-size: 18px;    
                line-height: 21px;
                margin-top:15px;
                padding:4px 8px 4px 8px;
                text-align: center;
            }
            .dropdown{
                background: #FFFFFF;
                margin-bottom:3px;
                margin-top: 15px;
                width:150px;
            }   
                .dropdown_arrow{
                    margin:7px 9px 6px 8px;
                    background: #FFFFFF;
                    border-radius: 5px;
                    text-align: right;
                }
                .dropdown_list{
                    background: #FFFFFF;
                    position: absolute;
                    margin-top:3px;
                    width: inherit;
                }
                .dropdown_task{
                    background: #FFFFFF;
                    padding:7px 9px 6px 8px;
                }
                    .dropdown_task:hover{
                        background: #DEDEDE;
                        cursor: pointer;
                    }
            .button_add_card{
                border-radius: 0px;
                font-size: 18px;    
                line-height: 21px;
                border:0px;
                color: #5E6C84;
                margin-top:15px;
            }
            .button_add_card_hover:hover{
                color:blue ;
                cursor: pointer;
            }
    .footer{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-between;
        height: 55px;
        left: 0px;
        top: 0px;
        font-size: 18px;
        line-height: 21px;
        color: white;
        background: #0067A3;

    }
        .footer_left{
            display: flex;
            flex-direction:row;
        }
            .footer_left div:first-child{
                margin:0px 36px 0px 21px;
            }
        .footer_right{
            display: flex;
            flex-direction:row;
            margin:0px 21px ;
        }

@media (max-width: 720px) {
    .main{
        flex-direction: column;
    }
    .main_taskList{
        width: 95%;
        margin-bottom:20px;
    }
        .dropdown{
            width:100%;
            position: relative;
        }
}